
<div class="py-5 border-top">
  <div class="container">

    <div class="row">

      <div class="col-sm-4">

        <h4>Blog posts</h4>

        <ul class="list-unstyled">
          {% assign dateCount = 0 %}
          {% for post in site.posts %}
              {% if dateCount == 3 %}
                  <li><a href="/archive">See all</a></li>
                  {% break %}
              {% endif %}
              {% assign currentDate = post.date | date: "%B %Y" %}
              {% if currentDate != myDate %}
                  <li><a href="/archive#{{ post.date | date: "%B-%Y"}}">{{ currentDate }}</a></li>
                  {% assign dateCount = dateCount | plus: 1 %}
                  {% assign myDate = currentDate %}
              {% endif %}
          {% endfor %}
        </ul>

      </div>

      <div class="col-sm-8">
        <p>
            MeetOMatic is the World's Simplest Meeting Scheduler!
        </p>

        <p>
            It has been around since 1998, and continues to provide the quickest way to schedule meetings, appointments and interviews.
        </p>

        <p>
            Visit <a href="https://meetomatic.com">meetomatic.com</a> to schedule your own meeting!            
        </p>
      </div>

    </div>

  </div>
</div>
<script type="text/javascript">
_linkedin_partner_id = "1590961";
window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script><script type="text/javascript">
(function(){var s = document.getElementsByTagName("script")[0];
var b = document.createElement("script");
b.type = "text/javascript";b.async = true;
b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=1590961&fmt=gif" />
</noscript>
