<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/brands.css">
  {%- feed_meta -%}
  <script>
  var Countly = Countly || {};
  Countly.q = Countly.q || [];
  Countly.app_key = "abac2d11d9d94ebc9e4ed1becff7c31007384c99";
  Countly.url = "https://analytics.turalt.com"; 
  Countly.q.push(['track_sessions']);
  Countly.q.push(['track_pageview']);
  Countly.q.push(['track_errors']);  
  (function() {
    var cly = document.createElement('script'); cly.type = 'text/javascript'; 
    cly.async = true;
    cly.src = 'https://cdnjs.cloudflare.com/ajax/libs/countly-sdk-web/20.11.2/countly.min.js';
    cly.onload = function(){Countly.init()};
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(cly, s);
  })();
  </script>
  <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
</head>
