.page-navigation {
  display: block;
  width: 100%;
  overflow: hidden;

  a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
  }
  
  .next {
    text-align: right;
  }
}

.blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0 10px;
}

.brand-image {
  height: 28px;
}

a.share-link:hover {
  text-decoration: none;
}

.icon {
  font-size: 36px;
}

.icon-twitter {
  color: #55acee;
  &:hover {
    color: scale-color(#55acee, $lightness: -30%);
  }
  &::before {
    content: '\f081';
  }
}
.icon-facebook {
  color: #3b5998;
  &:hover {
    color: scale-color(#3b5998, $lightness: -30%);
  }
  &::before {
    content: '\f082';
  }
}
.icon-linkedin {
  color: #007bb5;
  &:hover {
    color: scale-color(#007bb5, $lightness: -30%);
  }
  &::before {
    content: '\f08c';
  }
}

.post-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  margin-right: 1em;
}

.post-attribution {
  display: flex;
  flex-direction: row;
}
